---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

{% comment %} Check the type of archive {% endcomment %}
{%- if page.type == 'categories' -%}
  {%- assign all_posts = site.posts -%}
{%- elsif page.type == 'tags' -%}
  {%- if page.filter_category -%}
    {%- assign filtered_posts = "" | split: "" -%}
    {%- for post in site.posts -%}
      {%- if post.categories contains page.filter_category or post.category == page.filter_category -%}
        {%- assign filtered_posts = filtered_posts | push: post -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign all_posts = filtered_posts -%}
  {%- else -%}
    {%- assign all_posts = site.posts -%}
  {%- endif -%}
{%- else -%}
  {%- assign all_posts = none -%}
{%- endif -%}

{% comment %} Get taxonomies from filtered posts {% endcomment %}
{%- if page.type == 'categories' -%}
  {%- assign taxonomies = all_posts | map: "categories" | uniq | sort -%}
  {%- assign taxonomy_dict = "" | split: "" -%}
  {%- for category in taxonomies -%}
    {%- assign posts_in_category = "" | split: "" -%}
    {%- for post in all_posts -%}
      {%- if post.categories contains category -%}
        {%- assign posts_in_category = posts_in_category | push: post -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign taxonomy_item = "" | split: "" | push: category | push: posts_in_category -%}
    {%- assign taxonomy_dict = taxonomy_dict | push: taxonomy_item -%}
  {%- endfor -%}
{%- elsif page.type == 'tags' -%}
  {%- assign taxonomies = all_posts | map: "tags" | uniq | sort -%}
  {%- assign taxonomy_dict = "" | split: "" -%}
  {%- for tag in taxonomies -%}
    {%- assign posts_with_tag = "" | split: "" -%}
    {%- for post in all_posts -%}
      {%- if post.tags contains tag -%}
        {%- assign posts_with_tag = posts_with_tag | push: post -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign taxonomy_item = "" | split: "" | push: tag | push: posts_with_tag -%}
    {%- assign taxonomy_dict = taxonomy_dict | push: taxonomy_item -%}
  {%- endfor -%}
{%- else -%}
  {%- assign taxonomies = none -%}
{%- endif -%}

{% comment %} Check if there are any taxonomies {% endcomment %}
{%- if taxonomies.size == 0 -%}
  <div class="message">
    <p>暂无{{ page.type | capitalize }}。请在文章的 front matter 中添加 {{ page.type | slice: 0, -1 }} 字段。</p>
  </div>
{%- else -%}

{% comment %} Calculate the max count of taxonomies {% endcomment %}
{%- assign max_count = 0 -%}
{%- for taxonomy in taxonomy_dict -%}
  {%- assign posts = taxonomy[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

<div class="taxonomies-wrapper">
  <ul class="taxonomies">
    {%- for i in (1..max_count) reversed -%}
      {%- for taxonomy in taxonomy_dict -%}
        {%- assign taxonomy_name = taxonomy[0] -%}
        {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
        {%- assign posts = taxonomy[1] -%}
        {%- if posts.size == i -%}
          <li>
            {%- capture link -%}{{ page.permalink }}#{{ slugified_taxonomy_name }}{%- endcapture -%}
            <a class="taxonomy" href="{{ link | relative_url }}">
              <span>
                {%- if page.type == 'tags' -%}
                  {{ slugified_taxonomy_name }}
                {%- else -%}
                  {{ taxonomy_name }}
                {%- endif -%}
              </span>
              <span class="taxonomy-count">{{ posts.size }}</span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>

{% comment %} Show posts by taxonomy {% endcomment %}
{%- for i in (1..max_count) reversed -%}
  {%- for taxonomy in taxonomy_dict -%}
    {%- assign taxonomy_name = taxonomy[0] -%}
    {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
    {%- assign posts = taxonomy[1] -%}
    {%- if posts.size == i -%}
      <h2 id="{{ slugified_taxonomy_name }}">
        {%- if page.type == 'tags' -%}
          {{ slugified_taxonomy_name }}
        {%- else -%}
          {{ taxonomy_name }}
        {%- endif -%}
      </h2>
      <ul class="post-list-by-taxonomy">
        {%- for post in posts -%}
          <li>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{%- endif -%}

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
